<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit User - Communications Application</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/edit-user-style.css" rel="stylesheet">
</head>

<body>
  <div class="tabsContainer m-2">
    <!-- Tabs -->
    <div class="navbar">
      <div class="navTab col-3">
        <a href="#" class="navLink d-flex justify-content-center" id="chat">Group Chat</a>
      </div>
      <div class="navTab col-3">
        <a href="#" aria-current="page" class="navLink active d-flex justify-content-center"
          id="user-list">Manage
          Users</a>
      </div>
      <div class="navTab col-3">
        <a href="#" class="navLink d-flex justify-content-center" id="docs-list">Manage Documents</a>
      </div>
      <div class="navTab col-3">
        <a href="#" class="navLink d-flex justify-content-center" id="logout">Logout</a>
      </div>
    </div>
  </div>
  <div class="editContainer m-2">
    <!-- Login -->
    <div class="d-flex justify-content-center m-5">
      <h2>Edit User Information</h2>
    </div>
    <form action="/edit-user/<%= user._id %>" method="post">
      <div class="mb-3 d-flex justify-content-center">
        <div class="row">
          <div class="col-4">
            <label for="exampleInputEmail1" class="form-label">Full Name</label>
          </div>
          <div class="col-8">
            <input type="text" class="form-control" id="fullName" name="fullName" value="<%= user.fullName %>">
          </div>
        </div>
      </div>
      <div class="mb-3 d-flex justify-content-center">
        <div class="row">
          <div class="col-4">
            <label for="exampleInputPassword1" class="form-label">Email</label>
          </div>
          <div class="col-8">
            <input type="text" class="form-control" id="email" name="email" value="<%= user.email %>">
          </div>
        </div>
      </div>
      <div class="mb-3 d-flex justify-content-center">
        <a href="/user-list"><button type="submit" class="editSuccess btn btn-outline-dark btn-sm" id="saveBtn">Save</button></a>
      </div>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/javascript" src="/javascripts/edit-user"></script>
  <script type="text/javascript" src="/javascripts/nav.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>